.contacts{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
    &-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
        gap: 4rem;
        flex-wrap: wrap;
    }
    .block-addresses{
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .8rem;
        .address{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
            font-size: 1.2rem;
            &_title{
                color:#4A90E2;
                font-weight: 600;
            }
            img{
                width: 25px;
            }
        }
    }
}
.form-connect-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8rem;
    min-width: 400px;
}
@media (max-width: 992px) {
    .contacts{
        &-wrap{
            gap: 2rem;
        }
        .block-addresses{
            min-width: 340px;
            justify-content: flex-start;
            gap: .5rem;
            .social-media{
                align-self: center;
            }
            .address{
                font-size: 1.0rem;
            }
        }
    }
    .form-connect-wrap{
        min-width: 340px;
    }
}