.nav-main{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    &_big{
        flex-direction: row;
        justify-content: space-between;
    }
    &_small{
        flex-direction: column;
        justify-content: center;
    }
}