.portfolio-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    border: 2px solid #4A90E2;
    border-radius: 1rem;
    padding: 1rem;
    &__img{
        width: 150px;
    }
    &-review{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
        width: 200px;
        min-height: 250px;
        text-transform: capitalize;
        text-align: justify;
        font-size: 1rem;
        .title{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .txt{
            height: 200px;
            overflow: hidden;
        }
        .commit{
            font-style: italic;
        }
    }
}