.about-me{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    &-content-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 2;
        gap: 1.5rem;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        width: 320px;
        &__txt{
            text-transform: capitalize;
            text-align: justify;
            font-size: 1.2rem;
            letter-spacing: 1.25px;
        }
    }
}
.block-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    &-btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button{
            min-width: 150px;
            padding: 1rem .5rem;
            border-radius: 1rem;
            font-size: 1.2rem;
            background-color: #4A90E2;
            cursor: pointer;
            color: #333333;
            &:hover{
                background-color: #357ABD !important;
            }
        }
    }
}
.button_accent{
    background-color: #777777 !important;
    &:hover{
        background-color: #4A90E2 !important;
    }
}

@media (max-width: 992px) {
    .about-me{
        justify-content: center;
        flex-wrap: wrap;
        &-content-wrap{
            gap: 1rem;
        }
        &-content{
            &__txt{
                font-size: 1rem;
            }
        }
    }
    .block-user{
        flex-direction: column;
        justify-content: center ;
        gap: 1rem;
        &-btn-wrap {
            flex-direction: row;
            gap: 10px;
            button{
                min-width: 120px;
                font-size: 1rem;
            }
        }
    }
  }