.about-me{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        &__txt{
            width: 350px;
            text-transform: capitalize;
            text-align: justify;
            font-size: 1.2rem;
        }
        
    }
}
.block-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
   
    &-btn-wrap button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}