@forward'./styles/reset.scss';

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}
