@forward'./styles/reset.scss';

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 2rem;
    color: #333333;
    background-color: #F5F5F5;
    -webkit-box-shadow: 8px 8px 24px 0px #222222;
    -moz-box-shadow: 8px 8px 24px 0px #222222;
    box-shadow: 8px 8px 24px 0px #222222;
}

.d-none{
    display: none !important;
}

.title-box{
    font-size: 3rem;
}
.subtitle-block{
    padding: 1rem;
    font-size: 2rem;
}